form {
  padding-top: 20px;
}

mat-form-field, mat-chip-list {
  width: 80%
}

.mat-icon {
  height: 20px;
  width: 16px;
}

.material-icons {
  font-size: 20px;
}

.tag-form-field {
  margin-top: -10px;
}