<div *ngIf="jobOffer">
  <form fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center center" [formGroup]="jobOfferForm">
    <mat-form-field fxFlex>
      <input matInput formControlName="title" placeholder="Title" required>
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="url" formControlName="link" placeholder="Link" required>
    </mat-form-field>
    <mat-form-field fxFlex>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>

    <mat-chip-list fxFlex aria-label="Job offer tags">
      <mat-chip *ngFor="let tag of jobOffer.tags; let i = index" color="accent" selected (click)="removeTag(i)">
        {{ tag }}
        <mat-icon>close</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <mat-form-field fxFlex class="tag-form-field">
      <input #tagInput matInput placeholder="Add Tag">
      <button mat-icon-button matSuffix (click)="addTag(tagInput)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <div fxFlex fxLayout="row" fxLayoutGap="100px">
      <button fxFlex *ngIf="(jobOffer._id && jobOffer._id != '')" mat-raised-button (click)="delete()">Delete</button>
      <button fxFlex mat-raised-button color="primary" (click)="save()" [disabled]="jobOfferForm.valid === false">Save</button>
    </div>
  </form>

</div>
<!-- <pre>{{ jobOffer | json }}</pre> -->